/* Formulario Oculto */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


/* Grillas */
.grillamaster {
  width: 100%;
  text-align: center;
}
.grilla {
  width: 18rem;
  height: 20rem;
  margin-right: 10px;
  /* Margen derecho entre los elementos */
  background-color: #f2f2f2;
  /* Color de fondo base */
  border: 1px solid #ddd;
  /* Borde del cuadrado */
  transition: transform 0.3s ease;
  /* Transición suave para el efecto hover */
  overflow: hidden;
  /* Oculta el contenido que se desborde */
  display: inline-block;
  /* Hace que los elementos se muestren en línea (horizontalmente) */
  vertical-align: top;
  /* Alinea los elementos en la parte superior */
}
/* Estilo cuando pasas el mouse por encima (hover) */
.grilla:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño en un 10% */
  z-index: 1;
  /* Coloca el cuadrado por encima de los demás */
}
/* Estilos para los elementos de lista dentro de cada cuadrado */
.grilla ul {
  list-style: none;
  padding: 0;
  height: 100%;
}
/* Estilos para los elementos de lista dentro de cada cuadrado */
.grilla ul a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.grilla li {
  padding: 10px;
}
h3 {
  font-size: 2.8rem;
  font-family: cursive;
  text-align: center;
  margin-top: 3rem;
  color: #104378;
}
p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
  font-family: cursive;
}
.li1 {
  flex: 1;
  font-size: 1.8rem;
  font-family: fantasy;
}
.li2 {
  flex: 10;
  display: flex;
  align-items: center;
}

/* Estilo Principal */
/* Importar fuente de Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Modificando Estilo de Bootstrap */
.navbar {
  width: 100%;
  color: white;
}

.navbar ul {
  text-align: right;
  flex-direction: row;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 93%);
  font-family: monospace;
  font-size: 1.3rem;
}

.contenido{
  margin: 2rem;
}

/* Estilos generales */
html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}

/* Encabezado */
header {
  background-color: #3f72af;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.Logo_cea {
  min-width: 3rem;
  max-width: 5rem;
  width: 7vw;
  height: auto;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #f1f1f1;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 20px;
}

.navbar a:hover {
  color: gray;
}

/* Contenedor de tarjetas */
.x-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.x-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.x-card-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  flex-direction: column;
  align-items: center;
  text-align: center;
}


.x-card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: all;
}

.x-card-title {
  font-weight: bold;
  color: #3f72af;
  margin-bottom: 10px;
}

.x-card-description {
  color: #555;
}

.x-card-link {
  display: inline-block;
  margin-top: 15px;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.x-card-link:hover {
  color: #2079c7;
}

.x-card-link-icon {
  margin-right: 5px;
  color: #3498db;
}

.x-card-link-text {
  font-weight: bold;
  color: #3498db;
}