html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .form-container {
    margin: 2rem auto;
    width: 60%;
    height: auto;
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea{
    width: 97.7%;
    padding: 10px;
    border: 1px solid #3f72af;
    border-radius: 4px;
  }

  .form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #3f72af;
    border-radius: 4px;
  }
  
  .form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  
  .form-group button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button {
    position: fixed;
    top: 4rem;
    left: 3rem;
    padding: 10px 20px;
    background-color: #db3434;
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.back-button:hover {
  background-color: #d40000;
}

/* Estilo para el div de datos de deudas */
#datosDeudas {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Estilo para las etiquetas dentro del div */
#datosDeudas label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilo para los valores dentro del div */
#datosDeudas span {
  font-weight: normal;
  color: #333; /* Cambia el color de texto según tus preferencias */
}

#campoCurso, #campoCurso2, #campoCurso3{
  margin-bottom: 1.5vw;
}

#borrarCurso:disabled{
  background-color: #999!important; /* Cambia el color de fondo cuando está deshabilitado */
  color: #333; /* Cambia el color del texto cuando está deshabilitado */
  cursor: not-allowed;
}

#agregarCurso:disabled{
  background-color: #999!important; /* Cambia el color de fondo cuando está deshabilitado */
  color: #333; /* Cambia el color del texto cuando está deshabilitado */
  cursor: not-allowed;
}