.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
    z-index: 9999; /* Asegura que el formulario esté en la parte superior */
    border-radius: 5px;
    color: white; /* Color del texto */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none; /* Oculta el formulario inicialmente */
  }
  .form-container h2{
    margin: 0 auto;
    font-family: -webkit-body;
    font-size: 3rem;
  }
  .form-container form{
    margin: 0 auto;
    background-color: #bdb5b5;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 80%;
    height: 75%;
    overflow-y: auto; 
  }
  .form-container form .form-group{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin-bottom: 1.5%;
  }

  .form-container form .button-group{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin-top: 1rem;
    text-align: center;
  }
  
  .form-container form .tabla-group{
    /*height: 20rem;*/
    margin-bottom: 2%;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin-top: 4%;
  }

  
  .form-container form .tabla-group table{
    margin: 0;
  }

  .form-container form .form-group span{
    color:#430000;
  }
  .form-container .back-button{
    top: 2rem;
    left: 2rem;
    position: absolute;
  }
  
#bloqueador {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1; /* Asegura que el bloqueador esté detrás del primer div */
  pointer-events: auto; /* Habilita eventos de clic en el bloqueador cuando se muestra */
}

#tabla-deudas-Alumno{
  margin-bottom: 2%;
}

.enviar-boton{
  margin: 0 auto;
  width: 5rem;
  height: 1.5rem;
  border-radius: 1rem;
}

/* Estilo para la tabla dentro del formulario */
.div-tabla-Alumno {
  overflow-y: scroll;
  max-height: 17rem;
  margin-top: 2%;
}