h1 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #3498db;
  color: #fff;
}

tr:hover {
  background-color: #f0f0f0;
}

#input-busqueda {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#input-busqueda:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.25);
}

.detalle-cursos {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

.back-button {
  padding: 10px 20px;
  background-color: #db3434;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #d40000;
}

.edit-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #2980b9;
}

.add-button{
  display: inline-flex; 
  flex-wrap: wrap; 
  text-decoration: none; /* Elimina la subrayado predeterminado */
  width: 40px; /* Ancho del div */
  height: 40px; /* Alto del div */
  background-color: #3498db; /* Color de fondo */
  border-radius: 50%; /* Valor de border-radius para hacerlo redondo */
  align-content: center;
  justify-content: center; /* Para centrar el contenido horizontalmente */
  color: #fff; /* Color del texto */
  font-size: 24px; /* Tamaño del texto */
  float: left;
  margin-right: 2%;
  margin-left: 1%;
}

.accept-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}